

.card {
  width: 264px;
  background: #FFFFFF;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;

  &-img {
    border-radius: 5px 5px 0 0;
    height: 160px;
    position: relative;
    box-sizing: border-box;
    width: 264px;
  }

  &-title {
    padding: 0 24px 16px;

  }

  &-body {
    padding-top: 16px;
    padding-bottom: 46px;
    border-radius: 5px;
  }

  &-p {
    padding-left: 24px;

    & p {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@include screens(mobile){
  .cards{
    justify-content: center;
  }
}

@include screens(tablet-landscape){
  .cards{
    justify-content: space-between;
  }
}

@include screens(tablet-portrait){
  .cards{
    justify-content: center;
  }
}