@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  box-sizing: border-box;
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

/* ----------------------------------------------- Dark mode --------------------------------------------------  */
body.dark-mode {
  background-color: #202c37;
  color: white;
}
body.dark-mode .card {
  background: #2b3945 !important;
}
body.dark-mode .navbar {
  background: #2b3945 !important;
  color: white !important;
}
body.dark-mode .navbar a .nav-link {
  color: white !important;
}
body.dark-mode .navbar .btn {
  color: white;
}
body.dark-mode .search {
  background: #2b3945 !important;
  color: white !important;
}
body.dark-mode .search input {
  background: #2b3945 !important;
  color: white !important;
}
body.dark-mode .search input::placeholder {
  color: white;
}
body.dark-mode .search svg {
  color: white !important;
}
body.dark-mode .dropdown {
  background: #2b3945 !important;
  color: white !important;
}
body.dark-mode .dropdown-list {
  background: #2b3945 !important;
  color: white !important;
}
body.dark-mode .link {
  background: #2b3945 !important;
  color: white !important;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
}
body.dark-mode .link span {
  margin-left: 10px;
}
body.dark-mode .tag {
  background: #2b3945 !important;
  color: white !important;
  box-shadow: 0px 0px 4px 1px rgba(17, 21, 23, 0.252406);
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.align-item-center {
  align-items: center;
}

.align-item-baseline {
  align-items: baseline;
}

.gap-8 {
  gap: 8px;
}

.gap {
  gap: 75px;
}

@media (min-width: 200px) and (max-width: 400px) {
  .container {
    max-width: 375px;
    padding-left: 28px;
    padding-right: 27px;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  .container {
    max-width: 500px;
    padding-left: 28px;
    padding-right: 27px;
  }
}
@media (min-width: 600px) and (max-width: 920px) {
  .container {
    max-width: 650px;
    padding-left: 28px;
    padding-right: 27px;
  }
}
@media (min-width: 920px) and (max-width: 1200px) {
  .container {
    max-width: 950px;
    padding-left: 28px;
    padding-right: 27px;
  }
}
.list-country {
  margin-top: 48px;
}

.btn {
  border: none;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

p {
  font-size: 16px;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

.w-300 {
  font-weight: 300;
}

.w-600 {
  font-weight: 600;
}

.w-800 {
  font-weight: 800;
}

@media (min-width: 200px) and (max-width: 400px) {
  body {
    font-size: 14px;
  }
}
.search {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  width: 480px;
  font-weight: 400;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.0532439);
}
.search-light {
  background: white;
  border-radius: 5px;
  color: #858585;
}
.search-light svg {
  color: #858585;
}
.search svg {
  font-size: 18px;
}
.search input[type=text] {
  border: none;
  padding-left: 24px;
  width: 100%;
}
.search input[type=text]:focus {
  outline: none;
}

@media (min-width: 200px) and (max-width: 400px) {
  .search {
    width: 343px;
    margin-bottom: 40px;
  }
  .search input[type=text] {
    padding-left: 26px;
  }
}
@media (min-width: 600px) and (max-width: 920px) {
  .search {
    width: 343px;
    margin-bottom: 40px;
  }
  .search input[type=text] {
    padding-left: 26px;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  .search {
    width: 343px;
    margin-bottom: 40px;
  }
  .search input[type=text] {
    padding-left: 26px;
  }
}
.dropdown_filter {
  position: relative;
}
.dropdown_filter select {
  display: none;
  /*hide original SELECT element: */
}

.navbar {
  padding: 16px 0;
  margin-bottom: 48px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0562443);
}
.navbar-light {
  background: white;
  color: #111517;
}
.navbar-dark {
  background: #2b3945;
  color: white;
}

@media (min-width: 200px) and (max-width: 400px) {
  .navbar {
    margin-bottom: 24px;
  }
}
.card {
  width: 264px;
  background: #FFFFFF;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
}
.card-img {
  border-radius: 5px 5px 0 0;
  height: 160px;
  position: relative;
  box-sizing: border-box;
  width: 264px;
}
.card-title {
  padding: 0 24px 16px;
}
.card-body {
  padding-top: 16px;
  padding-bottom: 46px;
  border-radius: 5px;
}
.card-p {
  padding-left: 24px;
}
.card-p p {
  margin-bottom: 8px;
}
.card-p p:last-child {
  margin-bottom: 0;
}

@media (min-width: 200px) and (max-width: 400px) {
  .cards {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 600px) and (max-width: 920px) {
  .cards {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  .cards {
    display: flex;
    justify-content: center;
  }
}
.link {
  background: #FFFFFF;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
  border-radius: 6px;
  padding: 12px 24px;
  width: 136px;
  justify-content: center;
  font-size: 16px;
  margin-top: 90px;
}
.link span {
  margin-left: 10px;
}

.country {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
}
.country-infos {
  padding-top: 40px;
  margin-left: 120px;
  width: 598px;
}
.country-infos h1 {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 25px;
}
.country-infos--title {
  font-weight: 600;
}
.country-infos_left, .country-infos_right {
  font-size: 16px;
  line-height: 32px;
}
.country-flag img {
  width: 560px;
  height: 401px;
  border-radius: 6px;
}
.country .border-countries {
  margin-bottom: 60px;
  margin-top: 68px;
  display: flex;
}
.country .border-countries--title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-right: 16px;
}

.tags {
  display: flex;
  gap: 10px;
}
.tags .tag {
  background: #FFFFFF;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 14px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
}

@media (min-width: 200px) and (max-width: 400px) {
  .link {
    width: 104px;
  }

  .country-infos {
    padding-top: 40px;
    margin-left: 0px;
    width: 598px;
    gap: 32px;
  }
  .country-infos-contain {
    gap: 32px;
  }
  .country-flag img {
    max-width: 100% !important;
    max-height: 229px !important;
  }

  .border-countries {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .border-countries--title {
    margin-bottom: 16px;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  .link {
    width: 104px;
  }

  .country-infos {
    padding-top: 40px;
    margin-left: 0px;
    width: 598px;
    gap: 32px;
  }
  .country-infos-contain {
    gap: 32px;
  }
  .country-flag img {
    max-width: 100% !important;
    max-height: 229px !important;
  }

  .border-countries {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .border-countries--title {
    margin-bottom: 16px;
  }
}
@media (min-width: 600px) and (max-width: 920px) {
  .link {
    width: 104px;
  }

  .country-infos {
    padding-top: 40px;
    margin-left: 0px;
    width: 598px;
    gap: 32px;
  }
  .country-infos-contain {
    gap: 32px;
  }
  .country-flag img {
    max-width: 100% !important;
    max-height: 401px !important;
  }

  .border-countries {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .border-countries--title {
    margin-bottom: 16px;
  }
}
@media (min-width: 920px) and (max-width: 1200px) {
  .link {
    width: 104px;
  }

  .country-infos {
    padding-top: 40px;
    margin-left: 0px;
    width: 598px;
    gap: 32px;
  }
  .country-infos-contain {
    gap: 32px;
  }
  .country-flag img {
    max-width: 100% !important;
    max-height: 401px !important;
  }

  .border-countries {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .border-countries--title {
    margin-bottom: 16px;
  }
}

/*# sourceMappingURL=app.css.map */
