h1,h2,h3,h4,h5,h6,p{
  margin: 0px;
}

p{
  font-size: 16px;
}

* {
  font-family: 'Nunito Sans', sans-serif;
}

.w-300 {
  font-weight: 300;
}

.w-600 {
  font-weight: 600;
}

.w-800 {
  font-weight: 800;
}

@include screens(mobile){
  body{
    font-size: 14px;
  }
}