
// colors 

$dark-blue: hsl(209, 23%, 22%); // (Dark Mode Elements)
$dark-blue-bgd: hsl(207, 26%, 17%); // (Dark Mode Background)
$dark-blue-text: hsl(200, 15%, 8%); // (Light Mode Text)
$dark-gray: hsl(0, 0%, 52%); // (Light Mode Input)
$very-light-gray: hsl(0, 0%, 98%); //(Light Mode Background)
$white: hsl(0, 0%, 100%); // (Dark Mode Text & Light Mode Elements)

// font
@import url( 'https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

// Layout

$mobile: 375px;
$desktop: 1440px;
$tablet: 700px;

//theme dark 

$bg-dark-mode: $dark-blue-bgd;
$text-dark-mode: $white;
$element-dark-mode:$dark-blue; 


